.header {
  background: lightgray url("https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/heroImage1/PowerfulReasons_hero.jpg") no-repeat fixed center;
  background-size: cover;
}

.title {
  margin-top: 30vh;
  font-size: xx-large;
  color: white;
  background-color: rgba(0,0,0,0.65);
  padding: 10vh 0;
}