{% extends "_base.html" %}

{% block pagetitle %}
Update
{% endblock %}

{% block title %}
Update
{% endblock %}

{% block itemtitle %}
{{snack.title}}
{% endblock %}

{% block breadcrumbs %}
{{snack.get_absolute_url}}
{% endblock %}

{% block main %}
<form action="" method="POST">
  {% csrf_token %}

  <table class="table">
    <tbody>
      <tr>
        <th class="bg-info text-light" style="width: 25%;">Title</th>
        <td>
          <input required class="form-control" type="text" name="title" value="{{snack.title}}">
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Purchaser</th>
        <td>
          <select required class="form-control" name="purchaser" value="{{snack.purchaser}}">
            <option value="1">Admin</option>
          </select>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Description</th>
        <td><textarea required class="form-control" type="text" name="desc">{{snack.desc}}</textarea></td>
      </tr>

      <tr>
        <th class="bg-info text-light">Calories</th>
        <td>
          <input required class="form-control" type="number" name="calories" value="{{snack.calories}}">
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Vegan</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="vegan" checked="{{snack.vegan}}">
            <label class="form-check-label">
              Yes
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Gloten Free</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="gloten_free" checked="{{snack.gloten_free}}">
            <label class="form-check-label">
              Yes
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Sugar Free</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="sugar_free" checked="{{snack.sugar_free}}">
            <label class="form-check-label">
              Yes
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Lactose Free</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="lactose_free" checked="{{snack.lactose_free}}">
            <label class="form-check-label">
              Yes
            </label>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="2">
          <div class="btn-group float-right mb-4" role="group" aria-label="update">
            <a type="button" class="btn btn-outline-info" href="/">
              <i class="fa fa-rotate-left"></i> Cancel
            </a>

            <button type="submit" class="btn btn-warning">
              <i class="fa fa-pencil"></i> Update
            </button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
{% endblock %}