{% extends "_base.html" %}

{% block pagetitle %}
Snacks Detail
{% endblock %}

{% block title %}
Snacks trst
{% endblock %}

{% block main %}
<table>
  <tr>
    <th>Name</th>
    <td>{{snack.name}}</td>
  </tr>

  <tr>
    <th>Purchaser</th>
    <td>{{snack.purchaser}}</td>
  </tr>

  <tr>
    <th>Description</th>
    <td>{{snack.desc}}</td>
  </tr>

  <tr>
    <th>Calories</th>
    <td>{{snack.calories}}</td>
  </tr>

  <tr>
    <th>Vegan</th>
    <td>{{snack.vegan}}</td>
  </tr>

  <tr>
    <th>Gloten Free</th>
    <td>{{snack.gloten_free}}</td>
  </tr>

  <tr>
    <th>Sugar Free</th>
    <td>{{snack.sugar_free}}</td>
  </tr>

  <tr>
    <th>Lactose Free</th>
    <td>{{snack.lactose_free}}</td>
  </tr>
</table>
{% endblock %}