ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  color: white;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.li {
  float: left;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

a {
  text-decoration: underline;
  color: white;
}

.logo {
  width: 50px;
}

header {
  position: fixed;
  width: 100%;
}