{% extends "_base.html" %}

{% block pagetitle %}
View
{% endblock %}

{% block title %}
Details
{% endblock %}

{% block itemtitle %}
{{snack.title}}
{% endblock %}

{% block breadcrumbs %}
{{snack.get_absolute_url}}
{% endblock %}

{% block main %}

<div class="btn-group float-left mb-4" role="group" aria-label="creation">
  <a href="/">
    <button type="button" class="btn btn-primary">
      <i class="fa fa-rotate-left"></i> Back To List
    </button>
  </a>
</div>

<div class="btn-group float-right mb-4" role="group" aria-label="actions">
  <a type="button" class="btn btn-warning" href="{% url 'Update' pk=snack.pk %}">
    <i class="fa fa-pencil"></i> Update
  </a>
  <a type="button" class="btn btn-danger" href="{% url 'Delete' pk=snack.pk %}">
    <i class="fa fa-trash"></i> Delete
  </a>
</div>

<table class="table">
  <tbody>
    <tr>
      <th class="bg-info text-light" style="width: 25%;">Title</th>
      <td>{{snack.title}}</td>
    </tr>

    <tr>
      <th class="bg-info text-light">Purchaser</th>
      <td>{{snack.purchaser}}</td>
    </tr>

    <tr>
      <th class="bg-info text-light">Description</th>
      <td>{{snack.desc}}</td>
    </tr>

    <tr>
      <th class="bg-info text-light">Calories</th>
      <td>{{snack.calories}}</td>
    </tr>

    <tr>
      <th class="bg-info text-light">Vegan</th>
      <td>{{snack.vegan}}</td>
    </tr>

    <tr>
      <th class="bg-info text-light">Gloten Free</th>
      <td>{{snack.gloten_free}}</td>
    </tr>

    <tr>
      <th class="bg-info text-light">Sugar Free</th>
      <td>{{snack.sugar_free}}</td>
    </tr>

    <tr>
      <th class="bg-info text-light">Lactose Free</th>
      <td>{{snack.lactose_free}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}