{% extends "_base.html" %}

{% block pagetitle %}
Delete
{% endblock %}

{% block title %}
Snack Delete
{% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid bg-danger text-light rounded">
  <div class="container">
    <h3>
      Are you sure you wanna DELETE {{snack.title}}???
    </h3>

    <div class="btn-group float-right" role="group" aria-label="update">
      <button type="button" class="btn btn-outline-light">
        <a href="/" class="text-dark">
          <i class="fa fa-rotate-left"></i> Cancel
        </a>
      </button>

      <button type=" submit" class="btn btn-light">
        <a href="#" class="text-danger">
          <i class="fa fa-trash"></i> Delete
        </a>
      </button>
    </div>
    </form>
  </div>
</div>
{% endblock %}