{% extends "_base.html" %}

{% block pagetitle %}
Snacks
{% endblock %}

{% block title %}
Snacks List
{% endblock %}

{% block main %}

<div class="btn-group float-right mb-4" role="group" aria-label="creation">
  <a type="button" class="btn btn-success" href="/snacks/create">
    <i class="fa fa-plus"></i> Create
  </a>
</div>

<table class="table table-striped">
  <thead class="bg-info text-light">
    <tr>
      <th>
        Title
      </th>
      <th>
        Purchaser
      </th>
      <th>
        Description
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>

  <tbody>
    {% for snack in object_list %}

    <tr>
      <td>
        {{snack.title}}
      </td>
      <td>
        {{snack.purchaser}}
      </td>
      <td>
        {{snack.desc}}
      </td>
      <td>
        <a href="{% url 'Snack' pk=snack.pk %}"><i class="fa fa-eye"></i> View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}