{% extends "_base.html" %}

{% block pagetitle %}
Create
{% endblock %}

{% block title %}
Snacks Create
{% endblock %}

{% block main %}
<form>
  <table class="table">
    <tbody>
      <tr>
        <th class="bg-info text-light" style="width: 25%;">Title</th>
        <td>
          <input class="form-control" type="text" name="title">
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Purchaser</th>
        <td>
          <select class="form-control">
            <option value="1">Admin</option>
          </select>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Description</th>
        <td><textarea class="form-control" type="text" name="desc"></textarea></td>
      </tr>

      <tr>
        <th class="bg-info text-light">Calories</th>
        <td>
          <input class="form-control" type="number" name="calories">
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Vegan</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="vegan" value="1">
            <label class="form-check-label">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="vegan" value="0" checked>
            <label class="form-check-label">
              No
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Gloten Free</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gloten_free" value="1">
            <label class="form-check-label">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gloten_free" value="0" checked>
            <label class="form-check-label">
              No
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Sugar Free</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sugar_free" value="1">
            <label class="form-check-label">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sugar_free" value="0" checked>
            <label class="form-check-label">
              No
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th class="bg-info text-light">Lactose Free</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="lactose_free" value="1">
            <label class="form-check-label">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="lactose_free" value="0" checked>
            <label class="form-check-label">
              No
            </label>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="2">
          <div class="btn-group float-right mb-4" role="group" aria-label="create">
            <button type="button" class="btn btn-outline-info">
              <a href="/">
                <i class="fa fa-rotate-left"></i> Cancel
              </a>
            </button>

            <button type=" submit" class="btn btn-success">
              <a href="#" class="text-light">
                <i class="fa fa-plus"></i> Create
              </a>
            </button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
{% endblock %}